.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.form, input, button {
  margin-left : 5px;
}

th :first-child {
  border : 1px solid black;
}

.smallDiv {
  width:10%;
  float:left;
  font-weight: 600;
}

.txt-cnt {
  text-align:'center'
}